@import url("./global.css");

/* ============================================= */

.btn-Primary {
  font-size: 18px;
  color: var(--color-neutral-white);
  background-color: var(--color-primary);
  border-radius: 4px;
  padding: 14px 32px;
  width: max-content;
  height: max-content;
}

.bg-grey {
  background-color: var(--color-neutral-silver);
}

.bg-dark {
  background-color: var(--color-neutral-black);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-neutral-black);
}

button {
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

/* ============================================= */

header {
  display: flex;
  padding: 22px 105px;
  align-items: center;
  justify-content: space-between;
}

header ul {
  display: flex;
  gap: 50px;
}

.btn-Login {
  padding: 10px 20px;
  font-size: 14px;
}

.btn-SignUp {
  padding: 10px 20px;
  font-size: 14px;
}

.nav-H {
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.div-H-Login {
  display: flex;
  gap: 14px;
}

/* ============================================= */
.sec-Home {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
/* ============================================= */

.sec-M-Hero {
  position: relative;
  box-sizing: border-box;
  display: flex;
  gap: 104px;
  padding: 96px 144px;
  align-items: center;
}

.div-M-Lessons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.div-M-Hero {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* ============================================= */

.div-M-dots {
  position: absolute;
  left: 50%;
  bottom: -200px;
}

/* ============================================= */

.sec-M-clients {
  height: 190px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 144px;
}
.div-M-CustomersText {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.div-M-CustomersLogo {
  display: flex;
  flex-direction: row;
  height: 98px;
  justify-content: space-between;
  align-items: center;
}

/* ============================================= */

.sec-M-community {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 144px;
}

#h2_manage {
  width: 542px;
  box-sizing: border-box;
}

.div-M-Community1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  text-align: center;
}
.div-M-Community2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.div-M-Community2-col {
  width: 299px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 32px;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 2px rgba(171, 190, 209, 0.2);
}

.div-M-Community2-colcol {
  width: 267px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
}

/* ============================================= */
.sec-Body {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-top: 62px;
  margin-bottom: 94.6px;
}
/* ============================================= */

.sec-M-unseen {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 144px;
}
.div-M-Unseen {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.div-M-UnseenText {
  width: 601px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: justify;
}

/* ============================================= */

.sec-M-helping {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 62px 144px;
}
.div-M-HelpingCol1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.div-M-HelpingCol1 h2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.div-M-HelpingCol2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.div-M-HelpingRow {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.div-M-HelpingItem {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.div-M-HelpingItem-Text {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

/* ============================================= */

.sec-M-design {
  height: 433px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 144px;
}

.div-M-Design {
  width: 661px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.div-M-DesignText {
  width: 601px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* ============================================= */

.sec-M-customers {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 78px;
  padding: 32px 144px;
  align-items: center;
}
.div-M-Customers {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.div-M-CustomersContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.div-M-Tim {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.div-M-CustomersLogo {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
}

.div-M-CustomersLogoLogo {
  display: flex;
  flex-direction: row;
  gap: 41px;
}

.div-M-CustomersLogoMeet {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

/* ============================================= */

.sec-M-caring {
  height: 506px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 0;
  align-items: center;
}
.div-M-Caring1 {
  width: 1110px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 0;
  align-items: center;
  text-align: center;
}

.div-M-Caring1 p {
  width: 628px;
  box-sizing: border-box;
}

.div-M-Caring2 {
  display: flex;
  flex-direction: row;
  padding: 0 144px;
  justify-content: space-between;
}

.div-M-Caring2Col {
  display: flex;
  flex-direction: column;
  gap: -96px;
  padding: 0 0;
}

.div-M-Caring2Col img {
  width: 368px;
  height: 286px;
}

.div-M-Caring2ColContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 16px;
}

.div-M-Caring2ColContent h4 {
  width: 285px;
  text-align: center;
}

.div-M-Caring2ColContentBox {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 8px 8px;
}

.div-M-Caring2ColContentBox img {
  width: 24px;
  height: 24px;
}

/* ============================================= */
footer {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0 0;
}
/* ============================================= */

.sec-F-Pellentesque {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 0;
  align-items: center;
  text-align: center;
}

.sec-F-Pellentesque h1 {
  width: 672px;
}

.sec-F-Pellentesque button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 14px 32px;
  align-items: center;
  justify-content: center;
}

/* ============================================= */

.sec-F-Footer {
  display: flex;
  flex-direction: row;
  gap: 125px;
  padding: 64px 165px;
}
.div-F-Info {
  width: 350px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 0;
}

.div-F-Info img {
  width: 191px;
  height: 30px;
}

.div-F-Copyright {
  max-width: 350px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 0;
}
.div-F-SocialLinks {
  max-width: 172px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 0 0;
}

.div-F-SocialLinks img {
  width: 32px;
  height: 32px;
}

.div-F-Links {
  width: 635px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0 0;
}
.div-F-Links-Col1 {
  width: 160px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 0;
}

.div-F-Links-Col1 ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 0;
}

.div-F-Links-Col2 {
  width: 160px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 0;
}

.div-F-Links-Col2 ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 0;
}

.div-F-Links-Col3 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 0;
}
.div-F-InputEmail {
  width: 255px;
  height: 40px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: auto;
  padding: 9px 12px;
}

.div-F-InputEmail input {
  background-color: transparent;
  width: 100%;
  height: 100%;
  color: #d9dbe1;
}

.div-F-InputEmail img {
  width: 18px;
  height: 18px;
}
